<h2 class="ml-4 mb-0">Últimas Transacciones</h2>

@defer (on immediate) {
  @if(!dataReady()) {
    <app-skeleton-card [iterations]="5"></app-skeleton-card>
  } @else {
    <div class="horizontal-list-container">
      @for (gasto of gastos; track gasto.id) {
        <mat-card class="list-item">
          <mat-card-header>
            <mat-card-title class="d-flex flex-column align-items-start">
              <span class="importe">{{ gasto.importe | currency:'EUR':'symbol':'1.2-2':'es' }}</span>
              <span class="concepto">{{ gasto.concepto }}</span>
            </mat-card-title>
            <mat-card-subtitle>
              Fecha: {{ gasto.fecha | date:'dd/MM/yyyy' }}
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              <strong>Categoría:</strong> {{ gasto.categoria.nombre }}
            </p>
            @if (gasto.urlTicket) {
              <p>
                <a (click)="openImageViewer(gasto.urlTicket, 'Ticket de ' + gasto.concepto)" style="cursor: pointer;">
                  Ver Ticket
                </a>
              </p>
            }
          </mat-card-content>
        </mat-card>
      } @empty {
        <mat-card class="list-item no-items-card">
          <mat-card-content>
            No hay últimos gastos registrados.
          </mat-card-content>
        </mat-card>
      }
    </div>
  }
} @placeholder {
  <div class="gastos-deferred-placeholder">
    Cargando sección de gastos...
  </div>
}
