@use 'src/variables';

.importe {
  font-size: 1.2rem; // Un poco más grande para destacar el importe
  font-weight: 700; // Más negrita
  color: variables.$rojo-importe-balance; // Un rojo bonito para el importe
}

.concepto {    
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 170px;
}

a {
    text-decoration: underline !important;
    color: blue !important;
}

.button-container {
    position: absolute;
    right: 5px;
    top: 8px;
    color: variables.$mat-card-subtitle;
    // border: 1px solid red;
}