<div class="balance-detalles-container">
  <h3>Actividad Reciente</h3>
  
  <mat-list role="list" class="detalles-scroll-list">
    @if (balanceDeEvento && balanceDeEvento.detalles) {
        @for (detalle of balanceDeEvento.detalles; track detalle.id) {
            <mat-list-item role="listitem">
                <span matListItemTitle>{{ detalle.concepto }}</span>
                <div class="datos d-flex flex-row">
                    @if (detalle.urlTicket) {
                        <div class="button-container">
                            <button mat-icon-button matListItemMeta (click)="openImageViewer(detalle.urlTicket, 'Ticket de ' + detalle.concepto)">
                                <mat-icon>receipt_long</mat-icon> 
                            </button>
                        </div>
                    }
                    <div class="datos d-flex flex-column">
                        <span>
                            <span [ngClass]="{'income-text': detalle.isIngreso, 'expense-text': !detalle.isIngreso}">
                                {{ detalle.importe | currency:'EUR':'symbol':'1.2-2' }}
                            </span>
                        </span>
                        <span>{{ detalle.fecha | date:'shortDate' }}</span>
                    </div>
                </div>
                <span>{{ detalle.participanteromeria.usuario.nombre }}</span>  
                <mat-chip class="ml-3 mt-2">{{ detalle.categoria.nombre }}</mat-chip>  
            </mat-list-item>

        } @empty {
            <mat-list-item>
                <p matListItemLine>No hay actividad registrada que cumpla con estos filtros.</p>
            </mat-list-item>
        }
    } @else {
        Cargando...
    }
  </mat-list>
</div>