<div class="table-header d-flex flex-row align-items-center mb-3 mt-1">
  <mat-form-field class="flex-fill pr-4 ml-3">
    <mat-label>Filtrar</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
  </mat-form-field>

  <div class="flex-fill d-flex justify-content-end mr-4 container-fit-content">
    <button mat-raised-button class="button-verde"><mat-icon>add_2</mat-icon> Añadir Propuesta</button>
  </div>
</div>

<div class="mat-elevation-z8">
  <div class="tabla-responsive">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nº </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <!-- A Favor Column -->
      <ng-container matColumnDef="aFavor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> A Favor </th>
        <td mat-cell *matCellDef="let row"> {{row.votosAFavor.length }} <!--<mat-icon>thumb_up</mat-icon>--></td>
      </ng-container>
      <!-- En Contra Column -->
      <ng-container matColumnDef="enContra">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> En Contra </th>
        <td mat-cell *matCellDef="let row"> {{row.votosEnContra.length }}<!--<mat-icon>thumb_down</mat-icon>--></td>
      </ng-container>
      <!-- Autor Column -->
      <ng-container matColumnDef="autor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Autor</th>
        <td mat-cell *matCellDef="let row"> {{row.autor}} </td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef class="acciones-col"> Acciones </th>
        <td mat-cell *matCellDef="let row" class="acciones-td">
          
          <div class="acciones-grid" [style.grid-template-columns]="'repeat(' + getMaxNumBotones() + ', 40px)'">
            <button mat-icon-button [routerLink]="['propuesta/detail/'+ row.id]" [queryParams]="{ autor: row.autor, tab: selectedTabIndex }">
              <mat-icon>visibility</mat-icon>
            </button>
            
            @if(!userHaVotado(row)) {
              <button mat-icon-button >
                <mat-icon class="red-icon">how_to_vote</mat-icon>
              </button>
            }
             
            @if(userIsOwner(row)) {
              <button mat-icon-button >
                <mat-icon>delete</mat-icon>
              </button>
            }
          </div>
          
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Sin datos para el filtro "{{input.value}}"</td>
      </tr>
    </table>
  </div>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>
