<div class="landing-body">
  <h2 class="pt-4 pl-4">Selecciona tu nombre</h2>

  <mat-form-field appearance="fill" style="width: 100%; padding-left: 2rem; padding-right: 2rem;">
    <mat-label>Usuario</mat-label>
    <mat-select [(value)]="usuarioSeleccionadoId">
      <mat-option *ngFor="let usuario of usuarios" [value]="usuario.id">
        {{ usuario.usuario.nombre }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
  @if(usuarioSeleccionadoId){
    <div class="d-flex justify-content-end pr-4">
      <button mat-raised-button (click)="entrar()">
        Entrar
      </button>
    </div>
  }
  
  <div class="landing-body-spinner mi-elemento-animado mostrar">
    <app-spinner></app-spinner>
  </div>
</div>


