@use 'src/variables';

.landing-body {
    height: 100vh;
    background-color: variables.$azul-cadiz !important;

    &-spinner {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: variables.$azul-cadiz !important;
    }
}

:host{
    background-color: variables.$azul-cadiz !important;
    color: variables.$blanco;
    height: 100vh;
}

.mi-elemento-animado {
  /* Estado inicial (invisible y abajo) */
  opacity: 0; /* Empieza completamente transparente */
  transform: translateY(50px); /* Empieza 50px por debajo de su posición final */
  
  /* Definición de la transición: qué propiedades, duración, y función de temporización */
  transition: opacity 2.5s ease-out, transform 2.5s ease-out; /* Transición suave para opacidad y movimiento */

  padding: 20px;
}

.mi-elemento-animado.mostrar {
  /* Estado final (visible y en su posición normal) */
  opacity: 1; /* Se vuelve completamente visible */
  transform: translateY(0); /* Se mueve a su posición original */
}