@use 'src/variables';

.landing-body {
    height: 100vh;
    background-color: rgba(variables.$azul-cadiz, 0.97) !important;
    position: relative;
    overflow: hidden;

    &-spinner {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: variables.$azul-cadiz !important;
        // background-color: rgba(variables.$azul-cadiz, 0.97) !important;
    }
}
.landing-body h2 {
    position: relative;
    z-index: 1;
}

/* Asegura que el formulario también esté por encima */
.landing-body form {
    position: relative;
    z-index: 1;
}

/* Asegura que el botón de "Entrar" esté por encima */
.landing-body > div.d-flex.p-4 {
    position: relative;
    z-index: 1;
}

.landing-body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  // background-image: linear-gradient(rgba(variables.$azul-cadiz, 0.97), rgba(variables.$azul-cadiz, 0.97)),url('/assets/imgs/silueta_virgen.png');
  // background-size: 500px 500px;
  background-image: linear-gradient(rgba(variables.$azul-cadiz, 0.97), rgba(variables.$azul-cadiz, 0.97)),url('/assets/imgs/silueta_fondo.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  // transform: rotate(25deg);
  // z-index: -1;
}

:host{
    color: variables.$blanco;
}

.mi-elemento-animado {
  /* Estado inicial (invisible y abajo) */
  opacity: 0; /* Empieza completamente transparente */
  transform: translateY(50px); /* Empieza 50px por debajo de su posición final */
  
  /* Definición de la transición: qué propiedades, duración, y función de temporización */
  transition: opacity 2.5s ease-out, transform 2.5s ease-out; /* Transición suave para opacidad y movimiento */

  padding: 20px;
}

.mi-elemento-animado.mostrar {
  /* Estado final (visible y en su posición normal) */
  opacity: 1; /* Se vuelve completamente visible */
  transform: translateY(0); /* Se mueve a su posición original */
}

.nombres {
  position: absolute;
  top: 40%;
  
  h3 {
    font-family: 'madison', sans-serif;
    font-size: 3.5rem;
    margin: 0;
  }
  h6 {
    font-family: 'julius', sans-serif;
    font-size: 1.5rem;
    margin: 0;
    color: variables.$amarillo-star;
    margin-top: 1.5rem
  }
  h4 {
    font-family: 'botellas', sans-serif;
    font-size: 5rem;
    margin: 0;
    margin-top: 4rem;
  
  }
}