<mat-toolbar color="primary" class="bottom-nav">
  <a mat-button routerLink="/home" routerLinkActive="active-link">
    <mat-icon>home</mat-icon>
    <span>Inicio</span>
  </a>
  <a mat-button routerLink="/turnos" routerLinkActive="active-link">
    <mat-icon>restaurant</mat-icon>
    <span>Turnos</span>
  </a>
  <a mat-button routerLink="/habitaciones" routerLinkActive="active-link">
    <mat-icon>bed</mat-icon>
    <span>Habitaciones</span>
  </a>
  <a mat-button routerLink="/balance" routerLinkActive="active-link">
    <mat-icon>receipt_long</mat-icon>
    <span>Gastos</span>
  </a>
</mat-toolbar>
