.bottom-nav {
  height: 57px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  /* You might also want to add a background color if it's not already there */

  a {
    flex-direction: row;
    color: white;

    .mat-icon {
      font-size: 24px;
    }

    span {
      font-size: 12px;
    }
  }

  .active-link {
    color: yellow; // o cualquier color para indicar activo
  }
}

.mat-mdc-button>.mat-icon {
  width: 1.5rem !important;
  height: 1.5rem !important;
}
