<mat-toolbar color="primary" class="bottom-nav d-flex justify-content-around">
  <a mat-button routerLink="/home" routerLinkActive="active-link">
    <mat-icon>home</mat-icon>
    <span>Inicio</span>
  </a>
  <a mat-button routerLink="/turnos" routerLinkActive="active-link">
    <mat-icon>restaurant</mat-icon>
    <span>{{ environment.info.menu_link }}</span>
  </a>
  <a mat-button routerLink="/habitaciones" routerLinkActive="active-link">
    <mat-icon>bed</mat-icon>
    <span>Habitaciones</span>
  </a>
  <a mat-button routerLink="/lista-compra" routerLinkActive="active-link">
    <mat-icon [matBadge]="listacompra.length" [matBadgeHidden]="listacompra.length == 0" matBadgeSize="small" matBadgeColor="warn">shopping_cart</mat-icon>
    <span>Lista Compra</span>
  </a>
  <a mat-button routerLink="/balance" routerLinkActive="active-link">
    <!-- <mat-icon>receipt_long</mat-icon> -->
    <mat-icon>savings</mat-icon>
    <span>Balance</span>
  </a>
  <a mat-button routerLink="/informacion" routerLinkActive="active-link">
    <mat-icon>info</mat-icon>
    <span>Información</span>
  </a>
</mat-toolbar>
