<div class="d-flex w-100 justify-content-between p-4 home-header ">
    <div class="d-flex flex-column">
        <h1 class="mt-2">Casa Rociera {{ activeEvento.nombreCasa }}</h1>
        <h3>{{activeEvento.year.nombre}} de {{activeEvento.year.year}}</h3>
        <!-- <p class="text-center">Aquí encontrarás todo lo que necesitas para disfrutar de la cultura rociera.</p> -->
    </div>
    
    <button mat-icon-button (click)="logout()" aria-label="Cerrar sesión">
        <mat-icon>logout</mat-icon>
    </button>
</div>


<app-gastos-horizontal-list></app-gastos-horizontal-list>
<app-comidas-horizontal-list></app-comidas-horizontal-list>
<app-propuestas-horizontal-list></app-propuestas-horizontal-list>
