@use 'src/variables';

h2 {
  font: julius;
}

.menu-list-container {
  padding: 1rem;
}

.menu-item-wrapper {
  // Configuración de Flexbox para el contenedor principal
  display: flex;
  align-items: center; /* Esto centrará verticalmente todos los elementos */
  gap: 1rem;
  width: 100%;

  &-accordion {
    padding: 1rem 1rem 1rem 0px;
    flex-grow: 4;
  }
}
.menu-expansion-panel {
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 8px;
  border-radius: 8px;
}
  .mat-expansion-panel-header {
    height: 80px;
    // padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Asegura que el título y la descripción estén alineados correctamente */
  }

.mat-expansion-panel-header-description {
    margin-right: 20px;
    justify-content: end;
}

.menu-item {
  height: auto !important;
  padding: 1rem 0;

}

.menu-icon {
  // Ahora el icono es un elemento flex normal
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
  color: variables.$azul-cadiz;
}

.menu-details {
  // Los detalles del texto ocupan el espacio disponible
  flex: 1;
  display: flex;
  flex-direction: column;
}

.menu-title {
  font-weight: bold;
}

.menu-subtitle {
  font-size: 0.9rem;
  color: variables.$gris-medio-oscuro;
}

.horario-chip {
  background-color: variables.$azul-cadiz;
  color: variables.$blanco;
  font-size: 0.75rem;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 16px;
  white-space: nowrap;
}

.no-items {
  padding: 2rem 0;
  // color: variables.$gris-medio-claro;
  p {
    margin: 0;
  }
}