<div class="menu-list-container">
  @if (comidas.length > 0 || turnosComida.length > 0) {
    
    @if (environment.info.modulo_turnos_comida) {
      <h2 class="ml-4 mb-3">Calendario Culinario de {{ turnosComida[0].year.nombre | titlecase }} {{ turnosComida[0].year.year }}</h2>
      <mat-accordion class="menu-accordion">
        @for (turno of turnosComida; track turno.id) {
          <mat-expansion-panel class="menu-expansion-panel">
            <mat-expansion-panel-header>
              <mat-panel-title class="menu-item-wrapper menu-item-wrapper-accordion">
                <mat-icon class="menu-icon">
                  @if (turno.turnoComida.nombre.includes('Almuerzo')) { flatware }
                  @else if (turno.turnoComida.nombre.includes('Cena')) { dinner_dining }
                  @else { restaurant_menu }
                </mat-icon>
                <div class="menu-details">
                  <span class="menu-title">{{ turno.turnoComida.platoPrincipal }}</span>
                  <span class="menu-subtitle">{{ turno.turnoComida.nombre }}</span>
                </div>
              </mat-panel-title>
              <mat-panel-description>
                @if (turno.turnoComida.horario) {
                  <span class="horario-chip">{{ turno.turnoComida.horario }}</span>
                }
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>
              @for(persona of turno.participantes; track persona.id; let last = $last){
                <span class="persona-chip">{{ persona.nombre }}</span>@if(!last){<ng-container >, </ng-container>}
              }
            </p>
          </mat-expansion-panel>
        }
      </mat-accordion>
    } @else {
      
    <h2 class="ml-4 mb-3">Calendario Culinario de {{ comidas[0].year.nombre | titlecase }} {{ comidas[0].year.year }}</h2>
    <mat-list>
      @for (comida of comidas; track comida.id) {
        <mat-list-item class="menu-item">
          <div class="menu-item-wrapper">
            <mat-icon class="menu-icon">
              @if (comida.nombre.includes('Almuerzo')) {
                flatware
              } @else if (comida.nombre.includes('Cena')) {
                dinner_dining
              } @else {
                restaurant_menu
              }
            </mat-icon>
            <div class="menu-details">
              <span class="menu-title">{{ comida.platoPrincipal }}</span>
              <span class="menu-subtitle">{{ comida.nombre }}</span>
            </div>
            @if (comida.horario) {
              <span class="horario-chip">{{ comida.horario }}</span>
            }
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
      }
    </mat-list>
    }
  } @else {
    <div class="no-items text-center">
      <p>Aún no hay menú para este evento.</p>
    </div>
  }
</div>