.loader {
  animation: spin 2s linear infinite;
  width: 100px;
  height: 100px;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


// Latido o resplandor
/*
.loader {
  animation: pulse 1.5s ease-in-out infinite;
}

@keyframes pulse {
  0% { transform: scale(1); opacity: 0.7; }
  50% { transform: scale(1.1); opacity: 1; }
  100% { transform: scale(1); opacity: 0.7; }
}

*/

// TRAZADO
/*
.loader path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw 3s linear forwards;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

*/